{% extends 'home/base.html' %}
{% load static %}

{% block page_title %}Tools{% endblock %}
{% block nav-link-tools %}active{% endblock %}
{% block nav-item-revcomp %}active{% endblock %}

{% block page_level_css %}
<link rel="stylesheet" href="{% static 'tools/css/style.css' %}">
{% endblock %}

{% block content %}
  <h1>Tools <small style="color: gray;"> Reverse Complement</small></h1><br>
  <!-- Results -->
  {% if results %}
    <h3>Results</h3>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td width="20%">Sequence: </td>
          <td>{{ seq }}</td>
        </tr>
        <tr>
          <td width="20%">{{ method|title}}: </td>
          <td>{{ results }}</td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-secondary" href="{% url 'tools:revcomp' %}">Restart</a>
  <!-- /Results -->
  {% else %}
    <!-- Form -->
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Run</button>
      <a class="btn btn-secondary" href="javascript:;" role="button" onclick="example()">Example</a>
    </form>
    <!-- /Form -->
  {% endif %}
{% endblock %}

{% block page_level_js %}
<script>
  function example() {
    document.getElementsByName("sequence")[0].value='TGCTAGATGACTGATAGATAGATGATAGTTTAGATAGAT';
}
</script>
{% endblock %}
